// $color-base-dark:#0F0E0E;
//  $primary-color: #102C57;
// $secondary-color: #94A3B8;
//   $background-color: #FFFFFF;
//   $accent-color: #6366F1;
// $white-color:#ffff;
// $website-color:#F8FAFC;

// $text-dark:$color-base-dark;

// $border-color:rgba( $primary-color,0.15);

// $card-bg:$background-color;


$nav-bg: #0F172A;
$action-color: #6366F1;
$success-color: #10B981;
$main-bg: #f0f1f3;
$card-bg: #FFFFFF;
// $hover:#4F46E5;

$text-main: #0F172A;
$text-muted: #94A3B8;
$text-on-dark: #FFFFFF;


$header-setion-font:17px;



/* Spacing scale */
$space-xxs: 4px;
$space-xs: 8px;
$space-sm: 12px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-xxl: 48px;

